.main-wrapper {
    width: 100%;
    height: 100%;
}

.article-detail-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #0D253C;
}

.article-upper {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    padding: 0 100px;
}


.article-detail-title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.article-detail-author {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #2D4379;
    margin: 0;
}

.article-detail-date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7B8BB2;
    margin: 0;
}

.article-detail-button {
    height: 60px;
    width: 100%;
    background: #865439;
    box-shadow: 0 6px 20px #60350171;
    border-radius: 5px;
    border: transparent;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.article-detail-parag {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #0D253C;
    margin: 0;
}